<div class="content-form">
    <div class="card">
      <div class="card-body">
        <form action="">
          <div class="form-group">
            <p>Nome:</p>
            <input type="text" name="Identificador" placeholder="Title" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <p>Número Prontuário:</p>
            <textarea name="description" rows="2" placeholder="Description" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <p>Nome da Mãe:</p>
            <input type="url" name="image URL" placeholder="Image" class="form-control">
          </div>
          <div class="form-group">
            <p>Sexo:</p>
            <div class="form-group">
              <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="opcao1" checked>
                <label class="form-check-label" for="gridRadios1">
                  Feminino
                </label>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="opcao1" checked>
                <label class="form-check-label" for="gridRadios1">
                  Masculino
                </label>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="opcao1" checked>
                <label class="form-check-label" for="gridRadios1">
                  Outros
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <p> Data Nascimento:</p>
            <div class="col-10">
              <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
            </div>
          </div>
          <div class="form-group">
  
            <p> Data Diagnóstico:</p>
            <div class="col-10">
              <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
            </div>
          </div>
          <button class="btn btn-success btn-block">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>