.btn-print{
  color:aliceblue;
  background-color: rgb(61, 140, 182);
  border-color: rgb(61, 140, 182)
}

.btn-xs{
  padding: 0.50rem 0.5rem;
  line-height: 0.5rem;
  font-weight: 400;
}

@media screen {
  #printSection {
      display: none;
  }
}

@media print {
  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
}


